@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";


@theme{
    --font-roboto:"Roboto", sans-serif;
    --font-finger-paint: "Finger Paint", sans-serif;
}

*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}